<h1>Enter Client Information</h1>

<br></br>
<form action="/client" method="post">
  <div>
    <label for="First Name">FirstName</label>
    <input type="text" name="first_name">
  </div>
<br>
</br>
  <div>
    <label for="Last Name">LastName</label>
    <input type="text" name="last_name">
  </div>
  <br>
  </br>
    <div>
    <label for="password">Email</label>
    <input type="text" name="password">
  </div>
  <br>
  </br>
  <!-- <input type="submit" value="Login"> -->
  <!-- <h6></h6> -->
  <div>
    <label for="username">Phone</label>
    <input type="text" name="username">
  </div>
  <br>
  </br>
  <div>
    <label for="password">Notes</label>
    <input type="text" name="password">
  </div>
  <br>
  </br>
<div>
  <input type="submit" value="SignUp" class="btnbtn-primary">
</div>
</head>
</form>
